html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@font-face {
  font-family: "Wimpy";
  src: url(../fonts/DiaryOfAWimpyKidFont-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "candle";
  src: url(../fonts/Candle.ttf) format("truetype");
}
@font-face {
  font-family: "agency";
  src: url(../fonts/agency_fb.ttf) format("truetype");
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
